body {
  background-color: #444444;
  text-align: center;
  color: #EDEDED;
}

hr {
  border-style: dotted none none;
  width: 30%;
  border-color: #DA0037;
  border-width: 5px;
}

h1 {
  font-style:italic;
  border-bottom: solid 3px  #000000;
  color: #FFCA03
}

h3 {
  text-align: center;
  color: #FFCA03
}

.games {
  margin-left: 34%;
  color: #FF5403;
  background-color: #000000;

}

.links {
  margin-left: 43%;
}

a {
  color: #FFF323;
}

th {
  color: #FFCA03;
}
td {
  padding: 10px;
}
